#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Exec=anbox session-manager --single-window --window-size=1024,576
GenericName=Android in a box
Icon=anbox
Name=Anbox
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
